Repository teofanis/ybdownloader: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Core, Backend Infrastructure, Backend App, Frontend Components, Frontend Features, Frontend Libraries

codecov.yml:

# Codecov configuration for YBDownloader
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...90"
  status:
    project:
      default:
        target: auto
        threshold: 2%
        # Don't fail CI if coverage drops slightly
        informational: false
      # Separate targets for backend and frontend
      backend:
        paths:
        - "internal/**"
        target: 60%
        threshold: 2%
      frontend:
        paths:
        - "frontend/src/**"
        target: 50%
        threshold: 2%
    patch:
      default:
        target: 60%
        threshold: 5%

# Flag management for different coverage types
flags:
  backend:
    paths:
    - internal/
    carryforward: true
    after_n_builds: 1
  frontend:
    paths:
    - frontend/src/
    carryforward: true
    after_n_builds: 1

# Comment configuration for PRs
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Ignore specific paths from coverage
ignore:
- "frontend/wailsjs/**"
- "frontend/dist/**"
- "frontend/node_modules/**"
- "frontend/src/test/**"
- "**/*.d.ts"
- "**/mocks/**"
- "**/testdata/**"
- "build/**"
- "scripts/**"

# Component management (groups of code)
component_management:
  default_rules:
    statuses:
    - type: project
      target: auto
  individual_components:
  - component_id: backend_core
    name: Backend Core
    paths:
    - internal/core/**
  - component_id: backend_infra
    name: Backend Infrastructure
    paths:
    - internal/infra/**
  - component_id: backend_app
    name: Backend App
    paths:
    - internal/app/**
  - component_id: frontend_components
    name: Frontend Components
    paths:
    - frontend/src/components/**
  - component_id: frontend_features
    name: Frontend Features
    paths:
    - frontend/src/features/**
  - component_id: frontend_lib
    name: Frontend Libraries
    paths:
    - frontend/src/lib/**
    - frontend/src/hooks/**
    - frontend/src/store/**

Add initial project documentation including changelog, code of conduct, contributing guidelines, license, security policy, and support information
  .github/FUNDING.yml
  .github/SUPPORT.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
Due: none

Enhance release workflow with improved NSIS setup and version handling
  .github/workflows/release.yml
Due: none

Refactor NSIS installation and verification in release workflow
  .github/workflows/release.yml
Due: none

Add badges for CodeQL, GH Downloads, and Latest Release
  README.md
Due: none

Add badges for CodeQL, GH Downloads, and Latest Release (#16)
  README.md
Due: none

Update Go and Node.js versions, and upgrade React dependencies
  .github/workflows/ci.yml
  .github/workflows/extension-ci.yml
  .github/workflows/extension-release.yml
  .github/workflows/release.yml
  browser-extension/package-lock.json
  browser-extension/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/package.json.md5
  go.mod
Due: none

Update TypeScript build information for browser extension
  browser-extension/tsconfig.tsbuildinfo
Due: none

Add TypeScript build info to .gitignore for browser extension
  browser-extension/.gitignore
Due: none

Potential fix for code scanning alert no. 13: Missing regular expression anchor
  internal/infra/downloader/youtube.go
Due: backend, Backend Infrastructure

fix for code scanning alert no. 13: Missing regular expression anchor (#17)
  internal/infra/downloader/youtube.go
Due: backend, Backend Infrastructure

fix for code scanning alert no. 7: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/extension-release.yml
Due: none

fix for code scanning alert no. 4: Workflow does not contain permissions
  .github/workflows/extension-ci.yml
Due: none

Refactor YouTube search handling and validation
  frontend/src/lib/utils.ts
  frontend/wailsjs/go/app/App.d.ts
  frontend/wailsjs/go/models.ts
  internal/app/app.go
  internal/app/app_test.go
  internal/infra/youtube/search.go
Due: backend, frontend, Backend Infrastructure, Backend App, Frontend Libraries

fix for code scanning alert no. 4: Workflow does not contain permissions (#20)
  .github/workflows/extension-ci.yml
Due: none

fix for code scanning alert no. 7: Workflow does not contain permissions (#18)
  .github/workflows/ci.yml
Due: none

fix for code scanning alert no. 2: Workflow does not contain permissions (#19)
  .github/workflows/extension-release.yml
Due: none

Update Frontend tech version to React 19
  README.md
Due: none

feat: add yt-dlp download engine settings and UI components
  frontend/package-lock.json
  frontend/package.json
  frontend/package.json.md5
  frontend/src/components/ui/collapsible.tsx
  frontend/src/components/ui/radio-group.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/features/settings/SettingsTab.test.tsx
  frontend/src/features/settings/SettingsTab.tsx
  frontend/src/features/settings/components/DownloadEngineSettings.test.tsx
  frontend/src/features/settings/components/DownloadEngineSettings.tsx
  frontend/src/features/settings/components/YtDlpSettings.test.tsx
  frontend/src/features/settings/components/YtDlpSettings.tsx
  frontend/src/features/settings/components/index.ts
  frontend/src/lib/api.ts
  frontend/src/locales/bg.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/pt.json
  frontend/src/store/index.test.ts
  frontend/src/types/index.ts
  frontend/wailsjs/go/app/App.d.ts
  frontend/wailsjs/go/app/App.js
  frontend/wailsjs/go/models.ts
  internal/app/app.go
  internal/core/errors.go
  internal/core/models.go
  internal/core/settings.go
  internal/infra/downloader/delegating.go
  internal/infra/downloader/delegating_test.go
  internal/infra/downloader/ytdlp.go
  internal/infra/downloader/ytdlp_manager.go
  internal/infra/downloader/ytdlp_test.go
  internal/infra/settings/store.go
Due: backend, frontend, Backend Core, Backend Infrastructure, Backend App, Frontend Components, Frontend Features, Frontend Libraries

feat: enhance yt-dlp integration with JS runtime support
  frontend/src/features/settings/SettingsTab.test.tsx
  frontend/src/features/settings/components/YtDlpSettings.test.tsx
  frontend/src/features/settings/components/YtDlpSettings.tsx
  frontend/src/locales/bg.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/pt.json
  frontend/src/types/index.ts
  frontend/wailsjs/go/models.ts
  internal/app/app.go
  internal/infra/downloader/delegating.go
  internal/infra/downloader/ytdlp.go
  internal/infra/downloader/ytdlp_manager.go
  internal/infra/settings/store.go
Due: backend, frontend, Backend Infrastructure, Backend App, Frontend Features

feat: integrate yt-dlp as the default download engine with enhanced settings
  CHANGELOG.md
  README.md
  frontend/src/hooks/use-wails-events.ts
  internal/core/models.go
  internal/core/models_test.go
  internal/infra/downloader/youtube.go
  internal/infra/downloader/ytdlp.go
  internal/infra/downloader/ytdlp_manager.go
  internal/infra/downloader/ytdlp_test.go
  internal/infra/queue/manager_test.go
Due: backend, frontend, Backend Core, Backend Infrastructure, Frontend Libraries

feat: enhance yt-dlp command execution with process group management
  internal/infra/downloader/ytdlp.go
Due: backend, Backend Infrastructure

feat: enhance yt-dlp testing with additional scenarios and edge cases
  internal/infra/downloader/delegating_test.go
  internal/infra/downloader/ytdlp.go
  internal/infra/downloader/ytdlp_manager_test.go
  internal/infra/downloader/ytdlp_test.go
Due: backend, Backend Infrastructure

fix: address linting issues in yt-dlp manager and downloader
  internal/infra/downloader/ytdlp.go
  internal/infra/downloader/ytdlp_manager.go
Due: backend, Backend Infrastructure

feat: add comprehensive tests for download backend and yt-dlp status
  internal/app/app_test.go
  internal/infra/downloader/delegating_test.go
  internal/infra/downloader/ytdlp_manager_test.go
Due: backend, Backend Infrastructure, Backend App

feat: enhance tests for download engine settings and yt-dlp status
  frontend/src/features/settings/components/DownloadEngineSettings.test.tsx
  frontend/src/features/settings/components/YtDlpSettings.test.tsx
  internal/app/app.go
  internal/app/open.go
  internal/infra/downloader/ffmpeg.go
  internal/infra/downloader/ffmpeg_manager.go
  internal/infra/settings/store_test.go
  internal/infra/updater/updater.go
  internal/infra/youtube/search.go
Due: backend, frontend, Backend Infrastructure, Backend App, Frontend Features

feat: implement platform-specific process group management for yt-dlp
  internal/infra/downloader/proc_unix.go
  internal/infra/downloader/proc_windows.go
  internal/infra/downloader/ytdlp.go
Due: backend, Backend Infrastructure

feat: implement platform-specific process group management for yt-dlp (#53)
  internal/infra/downloader/proc_unix.go
  internal/infra/downloader/proc_windows.go
  internal/infra/downloader/ytdlp.go
Due: backend, Backend Infrastructure

chore: update Go version to 1.26 and adjust dependencies
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .golangci.yml
  README.md
  frontend/package-lock.json
  go.mod
  go.sum
Due: none

chore: update golangci-lint version to v2.12.2 in CI workflow
  .github/workflows/ci.yml
Due: none

chore: update golangci-lint configuration and improve cancellation handling
  .golangci.yml
  internal/infra/converter/converter.go
Due: backend, Backend Infrastructure

chore: update Go version to 1.26 and adjust dependencies (#94)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .golangci.yml
  README.md
  frontend/package-lock.json
  go.mod
  go.sum
  internal/infra/converter/converter.go
Due: backend, Backend Infrastructure

refactor: replace string literals with constants for download backends
  frontend/src/features/settings/SettingsTab.test.tsx
  frontend/src/features/settings/SettingsTab.tsx
  frontend/src/features/settings/components/DownloadEngineSettings.test.tsx
  frontend/src/features/settings/components/DownloadEngineSettings.tsx
  frontend/src/features/settings/components/YtDlpSettings.test.tsx
  frontend/src/features/settings/components/YtDlpSettings.tsx
  frontend/src/store/index.test.ts
  frontend/src/types/index.ts
Due: frontend, Frontend Features, Frontend Libraries

test: enhance settings component tests for save and reset functionality
  frontend/src/features/settings/SettingsTab.test.tsx
  frontend/src/features/settings/components/DownloadEngineSettings.test.tsx
  frontend/src/features/settings/components/DownloadSettings.test.tsx
  frontend/src/features/settings/components/YtDlpSettings.test.tsx
  frontend/src/store/index.test.ts
  internal/app/app_test.go
  internal/core/settings_test.go
  internal/infra/downloader/ytdlp_test.go
  internal/infra/queue/manager.go
  internal/infra/queue/manager_test.go
  internal/infra/settings/store_test.go
Due: backend, frontend, Backend Core, Backend Infrastructure, Backend App, Frontend Features, Frontend Libraries

test: enhance app and downloader tests for import URLs and downloader functionality
  internal/app/app_test.go
  internal/infra/converter/converter_test.go
  internal/infra/downloader/downloader_test.go
  internal/infra/downloader/ffmpeg_manager_test.go
  internal/infra/downloader/ytdlp_manager_test.go
  internal/infra/downloader/ytdlp_test.go
  internal/infra/fs/filesystem_test.go
  internal/infra/logging/logger_test.go
  internal/infra/settings/store_test.go
  internal/infra/updater/updater.go
  internal/infra/updater/updater_test.go
Due: backend, Backend Infrastructure, Backend App

test: improve job state verification in conversion tests
  internal/infra/converter/converter_test.go
Due: backend, Backend Infrastructure

fix: refresh set download path for enqueued items and minor setting adjustments (#95)
  frontend/src/features/settings/SettingsTab.test.tsx
  frontend/src/features/settings/SettingsTab.tsx
  frontend/src/features/settings/components/DownloadEngineSettings.test.tsx
  frontend/src/features/settings/components/DownloadEngineSettings.tsx
  frontend/src/features/settings/components/DownloadSettings.test.tsx
  frontend/src/features/settings/components/YtDlpSettings.test.tsx
  frontend/src/features/settings/components/YtDlpSettings.tsx
  frontend/src/store/index.test.ts
  frontend/src/types/index.ts
  internal/app/app_test.go
  internal/core/settings_test.go
  internal/infra/converter/converter_test.go
  internal/infra/downloader/downloader_test.go
  internal/infra/downloader/ffmpeg_manager_test.go
  internal/infra/downloader/ytdlp_manager_test.go
  internal/infra/downloader/ytdlp_test.go
  internal/infra/fs/filesystem_test.go
  internal/infra/logging/logger_test.go
  internal/infra/queue/manager.go
  internal/infra/queue/manager_test.go
  internal/infra/settings/store_test.go
  internal/infra/updater/updater.go
  internal/infra/updater/updater_test.go
Due: backend, frontend, Backend Core, Backend Infrastructure, Backend App, Frontend Features, Frontend Libraries

deps(npm): bump frontend dev dependencies to Vite 8 and TypeScript 6
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
Due: none

build(frontend): migrate Tailwind CSS from v3 to v4
  frontend/postcss.config.js
  frontend/src/index.css
  frontend/tailwind.config.js
Due: frontend
