Repository teofanis/ybdownloader: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Core, Backend Infrastructure, Backend App, Frontend Components, Frontend Features, Frontend Libraries

build(frontend): migrate ESLint to flat config for ESLint 10
  frontend/.eslintrc.cjs
  frontend/eslint.config.js
  frontend/src/lib/utils.test.ts
Due: frontend, Frontend Libraries

build(frontend): remove Codecov Vite bundle analysis plugin
  frontend/vite.config.ts
Due: none

ci: migrate Codecov test uploads and drop bundle analysis build
  .github/workflows/ci.yml
Due: none

style(frontend): reorder Tailwind classes for prettier-plugin-tailwindcss v0.8
  frontend/src/App.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/radio-group.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/features/about/AboutTab.tsx
  frontend/src/features/about/components/AppInfoCard.tsx
  frontend/src/features/about/components/LinksCard.tsx
  frontend/src/features/about/components/UpdateCard.tsx
  frontend/src/features/browse/components/ResultsPanel.tsx
  frontend/src/features/browse/components/SearchHeader.tsx
  frontend/src/features/browse/components/VideoCard.tsx
  frontend/src/features/converter/components/ConversionJobItem.tsx
  frontend/src/features/converter/components/ConversionQueue.tsx
  frontend/src/features/converter/components/FileSelector.tsx
  frontend/src/features/converter/components/PresetBrowser.tsx
  frontend/src/features/converter/components/TrimControls.tsx
  frontend/src/features/downloads/DownloadsTab.tsx
  frontend/src/features/downloads/components/QueueControls.tsx
  frontend/src/features/downloads/components/QueueItem.tsx
  frontend/src/features/downloads/components/QueueList.tsx
  frontend/src/features/downloads/components/UrlInput.tsx
  frontend/src/features/settings/SettingsTab.tsx
  frontend/src/features/settings/components/DownloadEngineSettings.tsx
  frontend/src/features/settings/components/FFmpegSettings.tsx
  frontend/src/features/settings/components/LogSettings.tsx
  frontend/src/features/settings/components/SettingsCard.tsx
  frontend/src/features/settings/components/ThemeSettings.tsx
  frontend/src/features/settings/components/YtDlpSettings.tsx
Due: frontend, Frontend Components, Frontend Features

deps(npm): bump lint-staged to v17 in root workspace
  package.json
Due: none

chore(frontend): update TypeScript configuration by removing deprecated options
  frontend/tsconfig.json
Due: none

chore: clean npm i
  frontend/package-lock.json
Due: none

chore(frontend): add @emnapi/core and @emnapi/runtime dependencies to package-lock.json
  .github/workflows/ci.yml
  frontend/package-lock.json
Due: none

fix(ci): update Codecov configuration for frontend coverage and test results
  .github/workflows/ci.yml
  frontend/vitest.config.ts
Due: none

ci(codecov): allow component coverage threshold during toolchain upgrade
  codecov.yml
Due: none

test(frontend): add unit tests for various components and features
  frontend/src/components/layout/AppHeader.test.tsx
  frontend/src/components/theme-provider.test.tsx
  frontend/src/components/ui/marquee-text.test.tsx
  frontend/src/components/ui/separator.test.tsx
  frontend/src/features/about/AboutTab.test.tsx
  frontend/src/features/about/components/LinksCard.test.tsx
  frontend/src/features/about/utils.test.ts
  frontend/src/features/browse/components/SearchHeader.test.tsx
  frontend/src/features/downloads/DownloadsTab.test.tsx
  frontend/src/features/downloads/components/QueueControls.test.tsx
  frontend/src/features/downloads/components/QueueItem.test.tsx
  frontend/src/features/downloads/components/QueueList.test.tsx
  frontend/src/features/downloads/components/UrlInput.test.tsx
  frontend/src/features/settings/components/DownloadSettings.test.tsx
  frontend/src/features/settings/components/FFmpegSettings.test.tsx
  frontend/src/features/settings/components/ThemeSettings.test.tsx
  frontend/src/test/mocks.ts
  frontend/src/test/setup.ts
Due: frontend, Frontend Components, Frontend Features

test(frontend): enhance unit tests for AboutTab and UrlInput components
  frontend/src/features/about/AboutTab.test.tsx
  frontend/src/features/downloads/components/UrlInput.test.tsx
  frontend/src/test/fixtures.ts
Due: frontend, Frontend Features

test(frontend): refactor tests to use centralized test-utils for consistency
  frontend/src/components/layout/AppHeader.test.tsx
  frontend/src/components/theme-provider.test.tsx
  frontend/src/components/ui/marquee-text.test.tsx
  frontend/src/components/ui/separator.test.tsx
  frontend/src/features/about/AboutTab.test.tsx
  frontend/src/features/about/components/LinksCard.test.tsx
  frontend/src/features/browse/BrowseTab.test.tsx
  frontend/src/features/browse/components/SearchHeader.test.tsx
  frontend/src/features/converter/ConverterTab.test.tsx
  frontend/src/features/converter/components/ConversionJobItem.test.tsx
  frontend/src/features/converter/components/ConversionQueue.test.tsx
  frontend/src/features/converter/components/TrimControls.test.tsx
  frontend/src/features/downloads/DownloadsTab.test.tsx
  frontend/src/features/downloads/components/QueueControls.test.tsx
  frontend/src/features/downloads/components/QueueItem.test.tsx
  frontend/src/features/downloads/components/QueueList.test.tsx
  frontend/src/features/downloads/components/UrlInput.test.tsx
  frontend/src/features/settings/SettingsTab.test.tsx
  frontend/src/features/settings/components/DownloadEngineSettings.test.tsx
  frontend/src/features/settings/components/DownloadSettings.test.tsx
  frontend/src/features/settings/components/FFmpegSettings.test.tsx
  frontend/src/features/settings/components/LanguageSettings.test.tsx
  frontend/src/features/settings/components/ThemeSettings.test.tsx
  frontend/src/features/settings/components/YtDlpSettings.test.tsx
Due: frontend, Frontend Components, Frontend Features

deps(npm): bump frontend dev dependencies to Vite 8 and TypeScript 6
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
Due: none

build(frontend): migrate Tailwind CSS from v3 to v4
  frontend/postcss.config.js
  frontend/src/index.css
  frontend/tailwind.config.js
Due: frontend

refactor(extension): relocate browser extension under apps/extension
  apps/extension/.gitignore
  apps/extension/.prettierignore
  apps/extension/.prettierrc
  apps/extension/README.md
  apps/extension/assets/icon.png
  apps/extension/contents/components/FloatingButton.tsx
  apps/extension/contents/components/FormatMenu.tsx
  apps/extension/contents/components/Icons.tsx
  apps/extension/contents/components/index.ts
  apps/extension/contents/hooks/index.ts
  apps/extension/contents/hooks/useClickOutside.ts
  apps/extension/contents/hooks/useDraggable.ts
  apps/extension/contents/hooks/useWatchPage.ts
  apps/extension/contents/lib/deep-link.ts
  apps/extension/contents/lib/storage.ts
  apps/extension/contents/types.ts
  apps/extension/contents/youtube-overlay.module.css
  apps/extension/contents/youtube-overlay.tsx
  apps/extension/package.json
  apps/extension/popup.tsx
  apps/extension/tsconfig.json
  browser-extension/contents/lib/deep-link.ts
  browser-extension/contents/types.ts
  browser-extension/package-lock.json
  browser-extension/tsconfig.tsbuildinfo
Due: none

build(monorepo): add pnpm workspaces, turborepo, and shared packages
  .gitignore
  .npmrc
  package.json
  packages/config-eslint/index.js
  packages/config-eslint/package.json
  packages/config-typescript/base.json
  packages/config-typescript/package.json
  packages/config-typescript/react.json
  packages/shared/package.json
  packages/shared/src/deep-link.test.ts
  packages/shared/src/deep-link.ts
  packages/shared/src/formats.ts
  packages/shared/src/index.ts
  packages/shared/src/urls.ts
  packages/shared/src/youtube.ts
  packages/shared/tsconfig.json
  packages/shared/vitest.config.ts
  packages/ui/package.json
  packages/ui/src/components/badge.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/index.ts
  packages/ui/src/lib/utils.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: none

test(e2e): add Playwright smoke tests with Wails mock
  apps/e2e/fixtures/wails-mock.ts
  apps/e2e/package.json
  apps/e2e/playwright.config.ts
  apps/e2e/tests/smoke.spec.ts
  apps/e2e/tsconfig.json
Due: none

ci: migrate workflows and Codecov to pnpm monorepo
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/extension-ci.yml
  .github/workflows/extension-release.yml
  .github/workflows/release.yml
  codecov.yml
Due: none

docs: update README for monorepo development
  README.md
Due: none

chore(scripts): update lint and i18n paths for monorepo layout
  scripts/check-i18n.js
  scripts/lint-go.sh
  scripts/lint-staged-extension.sh
  scripts/lint-staged-frontend.sh
  scripts/lint-staged-go.sh
  scripts/lint-staged-packages.sh
Due: none

chore: fix gitignore paths and remove shamefully-hoist
  .gitignore
  .npmrc
  pnpm-workspace.yaml
Due: none

chore: enforce pnpm and harden JS supply chain
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: none

chore: add go.work and fix turbo task graph for source packages
  go.work
  packages/ui/package.json
  turbo.json
Due: none

feat(go): add webm format for extension deep-link queue items
  apps/desktop/internal/app/app.go
  apps/desktop/internal/core/models.go
  apps/desktop/internal/core/models_test.go
  apps/desktop/internal/infra/downloader/ytdlp.go
Due: none

docs: document pnpm-only workflow and supply chain practices
  CONTRIBUTING.md
  README.md
Due: none

Path conditions:
  backend: any of: internal/, but not: frontend/wailsjs/**, frontend/dist/**, frontend/node_modules/**, frontend/src/test/**, **/*.d.ts, **/mocks/**, **/testdata/**, build/**, scripts/**
  frontend: any of: frontend/src/, but not: frontend/wailsjs/**, frontend/dist/**, frontend/node_modules/**, frontend/src/test/**, **/*.d.ts, **/mocks/**, **/testdata/**, build/**, scripts/**
  Backend Core: any of: internal/core/**, but not: frontend/wailsjs/**, frontend/dist/**, frontend/node_modules/**, frontend/src/test/**, **/*.d.ts, **/mocks/**, **/testdata/**, build/**, scripts/**
  Backend Infrastructure: any of: internal/infra/**, but not: frontend/wailsjs/**, frontend/dist/**, frontend/node_modules/**, frontend/src/test/**, **/*.d.ts, **/mocks/**, **/testdata/**, build/**, scripts/**
  Backend App: any of: internal/app/**, but not: frontend/wailsjs/**, frontend/dist/**, frontend/node_modules/**, frontend/src/test/**, **/*.d.ts, **/mocks/**, **/testdata/**, build/**, scripts/**
  Frontend Components: any of: frontend/src/components/**, but not: frontend/wailsjs/**, frontend/dist/**, frontend/node_modules/**, frontend/src/test/**, **/*.d.ts, **/mocks/**, **/testdata/**, build/**, scripts/**
  Frontend Features: any of: frontend/src/features/**, but not: frontend/wailsjs/**, frontend/dist/**, frontend/node_modules/**, frontend/src/test/**, **/*.d.ts, **/mocks/**, **/testdata/**, build/**, scripts/**
  Frontend Libraries: any of: frontend/src/lib/**, frontend/src/hooks/**, frontend/src/store/**, but not: frontend/wailsjs/**, frontend/dist/**, frontend/node_modules/**, frontend/src/test/**, **/*.d.ts, **/mocks/**, **/testdata/**, build/**, scripts/**
