Repository teofanis/ybdownloader: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Backend Core, Backend Infrastructure, Backend App, Frontend Components, Frontend Features, Frontend Libraries

codecov.yml:

# Codecov configuration for YBDownloader
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...90"
  status:
    project:
      default:
        target: auto
        threshold: 2%
        # Don't fail CI if coverage drops slightly
        informational: false
      # Separate targets for backend and frontend
      backend:
        paths:
        - "internal/**"
        target: 60%
        threshold: 2%
      frontend:
        paths:
        - "frontend/src/**"
        target: 50%
        threshold: 2%
    patch:
      default:
        target: 60%
        threshold: 5%

# Flag management for different coverage types
flags:
  backend:
    paths:
    - internal/
    carryforward: true
    after_n_builds: 1
  frontend:
    paths:
    - frontend/src/
    carryforward: true
    after_n_builds: 1

# Comment configuration for PRs
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Ignore specific paths from coverage
ignore:
- "frontend/wailsjs/**"
- "frontend/dist/**"
- "frontend/node_modules/**"
- "frontend/src/test/**"
- "**/*.d.ts"
- "**/mocks/**"
- "**/testdata/**"
- "build/**"
- "scripts/**"

# Component management (groups of code)
component_management:
  default_rules:
    statuses:
    - type: project
      target: auto
  individual_components:
  - component_id: backend_core
    name: Backend Core
    paths:
    - internal/core/**
  - component_id: backend_infra
    name: Backend Infrastructure
    paths:
    - internal/infra/**
  - component_id: backend_app
    name: Backend App
    paths:
    - internal/app/**
  - component_id: frontend_components
    name: Frontend Components
    paths:
    - frontend/src/components/**
  - component_id: frontend_features
    name: Frontend Features
    paths:
    - frontend/src/features/**
  - component_id: frontend_lib
    name: Frontend Libraries
    paths:
    - frontend/src/lib/**
    - frontend/src/hooks/**
    - frontend/src/store/**

Enhance CI workflows for Windows and macOS code signing
  .github/workflows/release.yml
Due: none

Update wails.json with product information and versioning in CI workflows
  .github/workflows/release.yml
  wails.json
Due: none

Enhance CI workflows and frontend configuration for Codecov integration
  .github/workflows/ci.yml
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: none

Refactor and clean up code documentation across multiple files
  frontend/package.json.md5
  frontend/src/App.tsx
  frontend/src/lib/api.ts
  frontend/src/types/index.ts
  internal/app/app.go
  internal/app/open.go
  internal/infra/downloader/downloader.go
  internal/infra/downloader/ffmpeg.go
  internal/infra/fs/filesystem.go
  internal/infra/queue/manager.go
  internal/infra/updater/updater.go
Due: backend, frontend, Backend Infrastructure, Backend App, Frontend Libraries

Implement version formatting in AboutTab component
  frontend/src/features/about/AboutTab.tsx
Due: frontend, Frontend Features

Add Bulgarian and Greek language support
  frontend/src/lib/i18n.ts
  frontend/src/locales/bg.json
  frontend/src/locales/el.json
Due: frontend, Frontend Libraries

Add MarqueeText component and integrate into ConverterTab
  frontend/src/components/ui/marquee-text.tsx
  frontend/src/features/converter/ConverterTab.tsx
  frontend/src/locales/bg.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/pt.json
Due: frontend, Frontend Components, Frontend Features

Update application icons and add new logo assets
  build/appicon.png
  build/darwin/iconset.iconset/icon_1024x1024.png
  build/darwin/iconset.iconset/icon_128x128.png
  build/darwin/iconset.iconset/icon_128x128@2x.png
  build/darwin/iconset.iconset/icon_16x16.png
  build/darwin/iconset.iconset/icon_16x16@2x.png
  build/darwin/iconset.iconset/icon_256x256.png
  build/darwin/iconset.iconset/icon_256x256@2x.png
  build/darwin/iconset.iconset/icon_32x32.png
  build/darwin/iconset.iconset/icon_32x32@2x.png
  build/darwin/iconset.iconset/icon_512x512.png
  build/darwin/iconset.iconset/icon_512x512@2x.png
  build/darwin/iconset.iconset/icon_64x64.png
  build/logo.svg
  build/windows/icon.ico
  frontend/src/assets/images/logo-universal.png
Due: frontend

Add theme customization options and integrate into settings
  frontend/src/App.tsx
  frontend/src/components/theme-provider.tsx
  frontend/src/features/settings/SettingsTab.tsx
  frontend/src/index.css
  frontend/src/lib/themes.ts
  frontend/src/locales/bg.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/pt.json
Due: frontend, Frontend Components, Frontend Features, Frontend Libraries

Refactor SettingsTab component and modularize settings sections
  frontend/src/features/settings/SettingsTab.tsx
  frontend/src/features/settings/components/DownloadSettings.tsx
  frontend/src/features/settings/components/FFmpegSettings.tsx
  frontend/src/features/settings/components/LanguageSettings.tsx
  frontend/src/features/settings/components/SettingsCard.tsx
  frontend/src/features/settings/components/ThemeSettings.tsx
  frontend/src/features/settings/components/index.ts
Due: frontend, Frontend Features

Add theme reset functionality and integrate into settings
  frontend/src/components/theme-provider.tsx
  frontend/src/features/settings/SettingsTab.tsx
  frontend/src/lib/themes.ts
Due: frontend, Frontend Components, Frontend Features, Frontend Libraries

Refactor AboutTab component and introduce modular cards for improved structure
  frontend/src/features/about/AboutTab.tsx
  frontend/src/features/about/components/AppInfoCard.tsx
  frontend/src/features/about/components/LinksCard.tsx
  frontend/src/features/about/components/SupportCard.tsx
  frontend/src/features/about/components/UpdateCard.tsx
  frontend/src/features/about/components/index.ts
  frontend/src/features/about/utils.ts
  frontend/src/features/browse/BrowseTab.tsx
  frontend/src/features/browse/components/ResultsPanel.tsx
  frontend/src/features/browse/components/SearchHeader.tsx
  frontend/src/features/browse/components/VideoCard.tsx
  frontend/src/features/browse/components/index.ts
  frontend/src/features/converter/ConverterTab.tsx
  frontend/src/features/converter/components/ConversionJobItem.tsx
  frontend/src/features/converter/components/ConversionQueue.tsx
  frontend/src/features/converter/components/FileSelector.tsx
  frontend/src/features/converter/components/PresetBrowser.tsx
  frontend/src/features/converter/components/index.ts
  frontend/src/features/converter/types.ts
  frontend/src/features/converter/utils.ts
Due: frontend, Frontend Features

Enhance theme management and settings integration
  frontend/src/App.tsx
  frontend/src/features/settings/SettingsTab.tsx
  frontend/src/features/settings/components/ThemeSettings.tsx
  frontend/src/types/index.ts
  frontend/wailsjs/go/models.ts
  internal/core/settings.go
Due: backend, frontend, Backend Core, Frontend Features

Implement language settings and initialization updates
  frontend/src/App.tsx
  frontend/src/features/settings/SettingsTab.tsx
  frontend/src/features/settings/components/LanguageSettings.tsx
  frontend/src/features/settings/components/ThemeSettings.tsx
  frontend/src/types/index.ts
  frontend/wailsjs/go/models.ts
  internal/core/settings.go
Due: backend, frontend, Backend Core, Frontend Features

Update ConverterTab tests to use raw category names for headers when translations are unavailable
  frontend/src/features/converter/ConverterTab.test.tsx
Due: frontend, Frontend Features

Refactor FFmpeg management and downloader integration
  internal/app/app.go
  internal/infra/downloader/downloader.go
Due: backend, Backend Infrastructure, Backend App

Add logging settings and integrate into application
  frontend/package.json.md5
  frontend/src/components/theme-provider.tsx
  frontend/src/features/settings/SettingsTab.tsx
  frontend/src/features/settings/components/LogSettings.tsx
  frontend/src/features/settings/components/index.ts
  frontend/src/locales/bg.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/pt.json
  frontend/src/types/index.ts
  frontend/wailsjs/go/models.ts
  internal/app/app.go
  internal/core/settings.go
  internal/infra/downloader/downloader.go
  internal/infra/downloader/ffmpeg_manager.go
  internal/infra/logging/logger.go
  internal/infra/logging/logger_test.go
  internal/infra/queue/manager.go
Due: backend, frontend, Backend Core, Backend Infrastructure, Backend App, Frontend Components, Frontend Features

Add initial project setup with package management and linting tools
  .gitignore
  .husky/pre-commit
  frontend/package-lock.json
  frontend/package.json
  package.json
  scripts/lint-go.sh
  scripts/lint-staged-go.sh
Due: none

Refactor linting setup and enhance README documentation
  README.md
  frontend/src/features/converter/components/ConversionJobItem.test.tsx
  frontend/src/features/converter/components/ConversionQueue.test.tsx
  frontend/src/features/downloads/components/QueueItem.test.tsx
  internal/app/app_test.go
  internal/infra/converter/converter_test.go
  internal/infra/updater/updater_test.go
  package.json
  scripts/lint-staged-frontend.sh
  scripts/lint-staged-go.sh
Due: backend, frontend, Backend Infrastructure, Backend App, Frontend Features

Add type checking to lint-staged script for frontend files
  scripts/lint-staged-frontend.sh
Due: none

Enhance media conversion features with trimming support
  .vscode/settings.json
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/package.json.md5
  frontend/src/App.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/features/converter/ConverterTab.test.tsx
  frontend/src/features/converter/ConverterTab.tsx
  frontend/src/features/converter/components/ConversionJobItem.test.tsx
  frontend/src/features/converter/components/ConversionQueue.test.tsx
  frontend/src/features/converter/components/TrimControls.test.tsx
  frontend/src/features/converter/components/TrimControls.tsx
  frontend/src/features/converter/components/index.ts
  frontend/src/features/converter/types.ts
  frontend/src/features/downloads/components/QueueItem.test.tsx
  frontend/src/lib/api.ts
  frontend/src/locales/bg.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/pt.json
  frontend/src/types/index.ts
  frontend/wailsjs/go/app/App.d.ts
  frontend/wailsjs/go/app/App.js
  frontend/wailsjs/go/models.ts
  frontend/wailsjs/runtime/package.json
  frontend/wailsjs/runtime/runtime.d.ts
  frontend/wailsjs/runtime/runtime.js
  internal/app/app.go
  internal/core/converter.go
  internal/infra/converter/converter.go
  internal/infra/converter/converter_test.go
Due: backend, frontend, Backend Core, Backend Infrastructure, Backend App, Frontend Components, Frontend Features, Frontend Libraries

Implement second instance handling and improve trim functionality
  frontend/src/features/converter/ConverterTab.tsx
  frontend/src/features/converter/components/PresetBrowser.tsx
  frontend/src/features/converter/components/TrimControls.tsx
  frontend/src/locales/bg.json
  frontend/src/locales/de.json
  frontend/src/locales/el.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/pt.json
  frontend/wailsjs/go/app/App.d.ts
  frontend/wailsjs/go/app/App.js
  frontend/wailsjs/go/models.ts
  frontend/wailsjs/runtime/package.json
  frontend/wailsjs/runtime/runtime.d.ts
  frontend/wailsjs/runtime/runtime.js
  internal/app/app.go
  internal/core/converter.go
  internal/infra/converter/converter.go
  main.go
Due: backend, frontend, Backend Core, Backend Infrastructure, Backend App, Frontend Features

Refactor TabsContent components for improved performance and visibility
  frontend/src/App.tsx
Due: frontend

Add browser extension with deep link support and CI/CD workflows
  .github/workflows/extension-ci.yml
  .github/workflows/extension-release.yml
  browser-extension/.gitignore
  browser-extension/.prettierignore
  browser-extension/.prettierrc
  browser-extension/README.md
  browser-extension/assets/icon.png
  browser-extension/contents/youtube.tsx
  browser-extension/package-lock.json
  browser-extension/package.json
  browser-extension/popup.tsx
  browser-extension/tsconfig.json
  browser-extension/tsconfig.tsbuildinfo
  frontend/src/hooks/use-wails-events.ts
  internal/app/app.go
  package.json
  scripts/lint-staged-extension.sh
  wails.json
Due: backend, frontend, Backend App, Frontend Libraries

Update logger permissions and enhance file handling
  internal/infra/logging/logger.go
Due: backend, Backend Infrastructure

Update TrimControls test to reflect waveform bar color change
  frontend/src/features/converter/components/TrimControls.test.tsx
Due: frontend, Frontend Features

Implement deep link support for YBDownloader across platforms
  .github/workflows/release.yml
  build/README.md
  build/linux/install-protocol.sh
  build/linux/ybdownloader.desktop
  frontend/wailsjs/go/app/App.d.ts
  frontend/wailsjs/go/app/App.js
  internal/app/app.go
  main.go
  wails.json
Due: backend, Backend App

Add support for AppImage updates in Linux installer
  internal/infra/updater/updater.go
  internal/infra/updater/updater_test.go
Due: backend, Backend Infrastructure

Add YouTube overlay functionality to browser extension
  browser-extension/contents/youtube-overlay.module.css
  browser-extension/contents/youtube-overlay.tsx
  browser-extension/contents/youtube.tsx
  browser-extension/tsconfig.tsbuildinfo
Due: none

Update TypeScript build information for browser extension
  browser-extension/tsconfig.tsbuildinfo
Due: none

Add Floating Action Button and Format Menu for YouTube Downloads
  browser-extension/contents/components/FloatingButton.tsx
  browser-extension/contents/components/FormatMenu.tsx
  browser-extension/contents/components/Icons.tsx
  browser-extension/contents/components/index.ts
  browser-extension/contents/hooks/index.ts
  browser-extension/contents/hooks/useClickOutside.ts
  browser-extension/contents/hooks/useDraggable.ts
  browser-extension/contents/hooks/useWatchPage.ts
  browser-extension/contents/lib/deep-link.ts
  browser-extension/contents/lib/storage.ts
  browser-extension/contents/types.ts
  browser-extension/contents/youtube-overlay.module.css
  browser-extension/contents/youtube-overlay.tsx
Due: none

Enhance browser extension with new quick links and UI improvements
  README.md
  browser-extension/contents/components/FloatingButton.tsx
  browser-extension/contents/components/FormatMenu.tsx
  browser-extension/contents/lib/deep-link.ts
  browser-extension/contents/youtube-overlay.module.css
  browser-extension/popup.tsx
  browser-extension/tsconfig.tsbuildinfo
Due: none

Add comprehensive tests for app functionality and downloader features
  internal/app/app_test.go
  internal/core/converter_test.go
  internal/core/models_test.go
  internal/core/settings_test.go
  internal/infra/converter/converter_test.go
  internal/infra/downloader/downloader_test.go
  internal/infra/downloader/youtube_test.go
  internal/infra/fs/filesystem_test.go
  internal/infra/queue/manager_test.go
  internal/infra/settings/store_test.go
  internal/infra/updater/updater_test.go
  internal/infra/youtube/search_test.go
Due: backend, Backend Core, Backend Infrastructure, Backend App

Enhance README and add extensive tests for downloader functionality
  README.md
  internal/infra/downloader/youtube_test.go
  internal/infra/logging/logger_test.go
  internal/infra/queue/manager_test.go
Due: backend, Backend Infrastructure

Add mock implementations for QueueManager and ConverterService in tests
  internal/app/app.go
  internal/app/app_test.go
  internal/core/interfaces.go
Due: backend, Backend Core, Backend App

Implement mock interfaces for YouTube search and app updater in tests
  internal/app/app.go
  internal/app/app_test.go
  internal/infra/queue/manager_test.go
Due: backend, Backend Infrastructure, Backend App

Enhance release workflow with NSIS verification and build output listing
  .github/workflows/release.yml
Due: none

Refactor SettingsTab and add comprehensive tests for settings management
  frontend/src/components/theme-provider.tsx
  frontend/src/features/settings/SettingsTab.test.tsx
  frontend/src/features/settings/SettingsTab.tsx
  frontend/src/features/settings/components/LanguageSettings.test.tsx
  frontend/src/features/settings/components/LanguageSettings.tsx
  frontend/src/features/settings/components/LogSettings.tsx
  frontend/src/test/setup.ts
Due: frontend, Frontend Components, Frontend Features
